services:
  - type: web
    name: video-stream-bot
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_ID
        sync: false
      - key: SERVER_URL
        fromService:
          name: video-stream-bot
          type: web
          property: url
      - key: SECRET_KEY
        generateValue: true
      - key: PORT
        value: 5000
    healthCheckPath: /health
    autoDeploy: true
