services:
  - type: web
    name: telegram-video-bot
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_ID
        sync: false
      - key: SERVER_URL
        fromService:
          name: telegram-video-bot
          type: web
          property: url
      - key: MONGO_URI
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: PORT
        value: 5000
    healthCheckPath: /health
    autoDeploy: true
